.die {
    height: 60px;
    width: 60px;
    background-color: rgb(244, 242, 242);
    border: 1px solid rgb(48, 4, 4);
    box-shadow: 1px 1px black, 1px 1px red, 1px 1px green;
    border-radius: 5px;
}

.die>div,
.die>div>div {
    background-color: black;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 1px 1px black, 1px 1px red, 1px 1px green;
}


.die_1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.die_2,
.die_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.die_2>div:nth-child(1) {
    margin-left: 3px;
}

.die_2>div:nth-child(2) {
    align-self: flex-end;
    margin-right: 3px;
}

.die_3>div:first-child {
    margin-left: 3px;
}

.die_3>div:nth-child(2) {
    align-self: center;
}

.die_3>div:nth-child(3) {
    align-self: flex-end;
    margin-right: 3px;
}

.die_4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.die_4>div>div {
    margin-top: 20px;
}

.die_5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.die_5>div:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.die_6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.rotate-center {
    -webkit-animation: rotate-center 0.1s ease-in-out both 20;
    animation: rotate-center 0.1s ease-in-out both 20;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}